<!doctype html>
{% extends 'admin_home.html' %}
{% load static %}
{% block content %}
<html lang="en">
  <head>
  	<title>view group</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'table1/css/style.css' %}">

	</head>
	<body>
	<section class="">
		{% for message in messages %}
			<div class="alert alert-info" role="alert">
				<strong>{{message}}</strong>
			</div>
        {% endfor %}

		<div class="card">
				<div class="card-body">
                    <h4 class="header-title">Group</h4>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
						      <th>Si no</th>
						      <th>Group no</th>
						      <th>Group name</th>
						      <th>Group leader</th>
						      <th>Update</th>
						      <th>Delete</th>
						    </tr>
						  </thead>
						  <tbody>
						  {% for i in group %}

						  <tr>
							  <td>{{forloop.counter}}</td>
							  <td>{{i.group_no}}</td>
							  <td>{{i.name}}</td>
							  <td>{{i.leader_name}}</td>
							  <td><a href="{% url 'update_group' i.id %}">
								  <button type="submit" class="btn btn-primary">Update</button></a>
							  </td>
							  <td>
								  <form action="{% url 'delete_group' i.id %}" method='POST'>
									  {% csrf_token %}
									  <input type="hidden" name="group" value="{{ i.id }}">
									  <button type="submit" class="btn btn-danger">Delete</button>
								  </form>
							  </td>
						  </tr>

						  </tbody>
							{%endfor%}
						</table>
					</div>
				</div>
			</div>
				</div>
		</div>
		</div>
	</section>

	<script src="{% static 'table1/js/jquery.min.js' %}"></script>
  <script src="{% static 'table1/js/popper.js' %}"></script>
  <script src="{% static 'table1/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'table1/js/main.js' %}"></script>

	</body>
{%endblock%}
</html>

