<!DOCTYPE html>
{% extends 'admin_home.html'  %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="page-header">
     <div class="page-block">
         <div class="row align-items-center">
             <div class="col-md-8">
                 <div class="page-header-title">
                     <h5 class="m-b-10">Hii</h5>
                     <p class="m-b-0">Welcome to Fine Arts Management Ststem</p>
                 </div>
             </div>
<!--             <div class="col-md-4">-->
<!--                 <ul class="breadcrumb">-->
<!--                     <li class="breadcrumb-item">-->
<!--                         <a href="index.html"> <i class="fa fa-home"></i> </a>-->
<!--                     </li>-->
<!--                     <li class="breadcrumb-item"><a href="#!">Dashboard</a>-->
<!--                     </li>-->
<!--                 </ul>-->
<!--             </div>-->
         </div>
     </div>
 </div>
<div class="pcoded-inner-content">
                            <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
                                    <!-- Page-body start -->
            <br><br><br><br>
            <div class="page-body" >
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <div class="card table-card" align="centre">
                            <div class="card-header">
                                <h1>Welcome {{request.user}} !</h1>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-hover m-b-0 without-header">
                                    <tbody>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
</div>
</body>
{% endblock %}
</html>












